<div class="modal-dialog">
        <div class="modal-content modal-content-one">
            <div class="modal-header">
                    <h5 class="modal-title">Cover Page</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                       <label for="Title">Title</label>
                       <input type="text" class="form-control" ng-model="reportObj.title" id="titleinput">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" ng-click="setReportObj(reportObj)">submit</button>
                </form>

            </div>
           
           
        </div>
</div>