.bimsurfer-metadata h3 {
    font-weight: bold;
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 14px;
}

.bimsurfer-metadata h3:before {
    content: "\25b8  ";
}

.bimsurfer-metadata th,
.bimsurfer-metadata td {
    width: 50%;
    height: 30px;
    border-bottom: solid 1px rgb(226, 226, 226);
    text-align: left;
}
.bimsurfer-metadata{
    background-color: rgb(255, 255, 255);
}