<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous">
<nav class="navbar bg-transparent px-5">
    <a class="navbar-brand" href="index.html">
        <img src="/assets/images/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div id="dashboard_3d" class="page-layout simple fullwidth">
    <div class="container-fluid px-2 mb-5">
        <div class="row">
            <div class="col-md-4 px-2">
                <div class="box-shadow-sm three-d-bg rounded px-4 py-5 mb-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 text-center">
                            <img src="/assets/images/cube.png" class="mb-3">
                            <select class="custom-select bg-success text-white border-0 rounded-0 mb-3">
                                <option selected>CHOOSE A MODEL</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <button class="btn btn-warning text-white d-block w-100 rounded-0">CREATE NEW MODEL</button>
                        </div>
                        <div class="col-md-6">
                            <h6 class="text-white mb-4">RECENTLY OPENED FILES</h6>
                            <a href="#" class="text-white py-1 d-block">
                                <img src="/assets/images/file_icon/pdf.png" class="icon-sm float-left mr-2" />Meet Craftwork.pdf
                            </a>
                            <hr class="border-white op-70">
                            <a href="#" class="text-white py-1 d-block">
                                <img src="/assets/images/file_icon/pdf.png" class="icon-sm float-left mr-2" />Meet Craftwork.pdf
                            </a>
                            <hr class="border-white op-70">
                            <a href="#" class="text-white py-1 d-block">
                                <img src="/assets/images/file_icon/pdf.png" class="icon-sm float-left mr-2" />Meet Craftwork.pdf
                            </a>
                            <hr class="border-white op-70">
                            <a href="#" class="text-white py-1 d-block">
                                <img src="/assets/images/file_icon/pdf.png" class="icon-sm float-left mr-2" />Meet Craftwork.pdf
                            </a>
                            <hr class="border-white op-70">
                            <a href="#" class="text-white py-1 d-block">
                                <img src="/assets/images/file_icon/pdf.png" class="icon-sm float-left mr-2" />Meet Craftwork.pdf
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 pr-2">
                        <a class="box-shadow-sm rounded bg-warning text-center py-5 d-block" href="#">
                            <img src="/assets/images/cube.png" class="mb-3">
                            <h6 class="text-white mb-0 text-uppercase">
                                <b>3D Visual Planner</b>
                            </h6>
                        </a>
                    </div>
                    <a class="col-md-6 pl-2" href="#">
                        <div class="box-shadow-sm rounded collab py-5 h-100 d-flex align-items-center justify-content-center">
                            <h6 class="text-white mb-0 text-uppercase ls-1">COLLABORATIONS</h6>
                        </div>
                    </A>
                </div>
                <div class="box-shadow-sm bg-white rounded px-4 py-4 notification">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h6 class="mb-4 d-flex align-items-center text-black">
                                <i class="far fa-bell float-left mr-1"></i>
                                <span>NOTIFICATIONS</span>
                            </h6>
                            <div class="scrollw-half pr-4">
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-danger text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-warning text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr class="mb-4">
                            </div>
                            <a href="#" class="d-inline-block mt-4">SEE ALL</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-2">
                <div class="box-shadow-sm bg-white rounded mb-3 overflow-hidden mb-3 projectHistory">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-md-6 p-0">
                                <h6 class="p-3 m-0 text-black d-flex align-items-center text-center">
                                    <i class="far fa-file-alt primary float-left mr-1"></i>
                                    <span>PROJECT HISTORY</span>
                                </h6>
                                <hr class="mt-0">
                                <a href="#" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/png.png" class="icon-sm float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <a href="#" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/jpg.png" class="icon-sm float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <a href="#" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/cdr.png" class="icon-sm float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <a href="#" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/ai.png" class="icon-sm float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <div class="text-center my-4">
                                    <a href="#">SHOW MORE</a>
                                </div>
                            </div>
                            <div class="col-md-6 text-center p-0">
                                <img src="/assets/images/dashboard/filemanager_Bg.png" class="fluid-img h-100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-shadow-sm bg-white rounded mb-3 overflow-hidden">
                    <div class="bg-success text-white">
                        <h6 class="p-4 mb-0 d-flex align-items-center">
                            <i class="fas fa-chart-bar float-left mr-1 text-white"></i>
                            <span>ANALYTICS</span>
                        </h6>
                        <hr class="mt-0">
                        <div class="row p-4">
                            <div class="col-md-5">
                                <h6>DRAWING APPROVAL</h6>
                            </div>
                            <div class="col-md-7">
                                <h6>COLLABORATORS</h6>
                                <a href="#">
                                    <img src="/assets/images/user.jpg" class="pro-pic rounded-circle pr-1 mb-1">
                                </a>
                                <a href="#">
                                    <img src="/assets/images/user.jpg" class="pro-pic rounded-circle pr-1 mb-1">
                                </a>
                                <a href="#">
                                    <img src="/assets/images/user.jpg" class="pro-pic rounded-circle pr-1 mb-1">
                                </a>
                                <a href="#">
                                    <img src="/assets/images/user.jpg" class="pro-pic rounded-circle pr-1 mb-1">
                                </a>
                                <a href="#">
                                    <img src="/assets/images/user.jpg" class="pro-pic rounded-circle pr-1 mb-1">
                                </a>
                                <a href="#">
                                    <img src="/assets/images/user.jpg" class="pro-pic rounded-circle pr-1 mb-1">
                                </a>
                                <a href="#">
                                    <img src="/assets/images/user.jpg" class="pro-pic rounded-circle pr-1 mb-1">
                                </a>
                                <a href="#">
                                    <img src="/assets/images/user.jpg" class="pro-pic rounded-circle pr-1 mb-1">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h6 class="p-4">TIMELINE
                            <a href="#" class="bg-green ml-2 px-2 py-1 rounded-30 text-white">
                                <small>VIEW DETAILS</small>
                            </a>
                        </h6>
                        <div class="timeline overflow-hidden p-4 position-relative">
                            <div class="row border-bottom mx-0 py-1 position-static t-col">
                                <div class="col-4 border-left pl-0 position-static">
                                    <div class="bg-success text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-4 border-left pl-0 offset-2 position-static t-col">
                                    <div class="bg-warning text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-8 border-left pl-0 offset-4 position-static t-col">
                                    <div class="bg-danger text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-4 border-left pl-0 offset-6 position-static t-col">
                                    <div class="bg-primary text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-9 border-left pl-0 offset-8 position-static t-col">
                                    <div class="bg-dark text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row small m-0 mt-2">
                                <div class="col-md-2 pl-0">Today</div>
                                <div class="col-md-2 pl-0">5/10/18</div>
                                <div class="col-md-2 pl-0">6/10/18</div>
                                <div class="col-md-2 pl-0">7/10/18</div>
                                <div class="col-md-2 pl-0">8/10/18</div>
                                <div class="col-md-2 pl-0">9/10/18</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-2">
                <div class="box-shadow-sm videos-bg rounded px-4 py-4 mb-3">
                    <h6 class="text-white mb-2">TRAINING VIDEOS</h6>
                    <div class="row px-3 ">
                        <div class="col-md-4 p-1">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 p-1">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 p-1">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 p-1">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 p-1">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 p-1">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                    </div>
                    <div class="row m-0">
                        <a href="#" class="col-12 mt-3 text-white">SEE ALL</a>
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 pr-2">
                        <a class="box-shadow-sm rounded text-center d-flex bg-white justify-content-between" href="#">
                            <h6 class="mb-0 text-uppercase align-self-center pl-3 text-black ls-1">CLASH TESTING</h6>
                            <img src="/assets/images/clash-testing.png" class="align-self-end mt-5">
                    </div>
                    </a>
                    <a class="col-md-6 pl-2" href="#">
                        <div class="box-shadow-sm rounded h-100 bg-white d-flex align-items-center justify-content-center">
                            <img src="/assets/images/vr-studio.png" class="pr-2">
                            <h6 class="mb-0 text-uppercase ls-1 text-black">VR STUDIO</h6>
                        </div>
                    </a>
                </div>
                <div class="box-shadow-sm bg-warning text-white rounded px-4 py-4">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h6 class="mb-4 d-flex align-items-center">
                                <i class="fas fa-comment-dots float-left mr-1 text-white"></i>
                                <span>MESSAGES</span>
                            </h6>
                            <div class="scrollw-half pr-4">
                                <hr>
                                <div class="d-md-flex justify-content-between py-0">
                                    <a href="#" class="d-block text-white">
                                        <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                        <span class="pl-5 d-block">
                                            <b>Moshejohary</b>
                                            <br> Robert added new post Combination UI Kit
                                        </span>
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between py-0">
                                    <a href="#" class="d-block text-white">
                                        <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                        <span class="pl-5 d-block">
                                            <b>Moshejohary</b>
                                            <br> Robert added new post Combination UI Kit
                                        </span>
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between py-0">
                                    <a href="#" class="d-block text-white">
                                        <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                        <span class="pl-5 d-block">
                                            <b>Moshejohary</b>
                                            <br> Robert added new post Combination UI Kit
                                        </span>
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between py-0">
                                    <a href="#" class="d-block text-white">
                                        <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                        <span class="pl-5 d-block">
                                            <b>Moshejohary</b>
                                            <br> Robert added new post Combination UI Kit
                                        </span>
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between py-0">
                                    <a href="#" class="d-block text-white">
                                        <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                        <span class="pl-5 d-block">
                                            <b>Moshejohary</b>
                                            <br> Robert added new post Combination UI Kit
                                        </span>
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between py-0">
                                    <a href="#" class="d-block text-white">
                                        <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                        <span class="pl-5 d-block">
                                            <b>Moshejohary</b>
                                            <br> Robert added new post Combination UI Kit
                                        </span>
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                            </div>
                            <a href="#" class="d-inline-block text-white mt-4">SEE ALL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="chooseProject">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose project</h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="projectPickerContainer" style="max-height: 300px;overflow-y: scroll;">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Search</span>
                    </div>
                    <input type="text" class="form-control" ng-model="vm.projectSearch" ng-change="vm.searchProjects()" aria-label="Search" aria-describedby="basic-addon1">
                </div>

                <div infinite-scroll="vm.addMore()" infinite-scroll-distance='0' infinite-scroll-container="'#projectPickerContainer'" infinite-scroll-parent="true">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="projectPickerHeader">#</th>
                                <th scope="col" class="projectPickerHeader" ng-click="vm.sort('projectName')">Project Name</th>
                                <th scope="col" class="projectPickerHeader" ng-click="vm.sort('systemTag')">System Tag</th>
                                <th scope="col" class="projectPickerHeader" ng-click="vm.sort('created')">Created Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in vm.projectPickerData" ng-click="vm.chooseProject(p._id)">
                                <td>{{$index + 1}}</td>
                                <td>{{p.projectName}}</td>
                                <td>{{p.systemTag}}</td>
                                <td>{{p.created | date:'mediumDate'}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="vm.closeProjectPicker()">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#datepicker').datepicker({
        todayHighlight: true
    });
</script>