<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous">
<div ng-include="'/partials/header.html'"></div>
<div id="payroll" class="page-content pt-4 page-layout simple fullwidth">
    <section class="container-fluid">
        <div class="row" id="payrollList">
            <div class="col-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fas fa-search"></span>
                        </span>
                    </div>
                    <input type="search" class="form-control rounded-30 searchTable" placeholder="Search product" aria-controls="DataTables_Table_0">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
                <table class="table table-bordered payrollList">
                    <thead class="bg-success text-white"> 
                        <tr>
                            <th style="width: 3%">No</th>
                            <th style="width: 8%">Supplier</th>
                            <th style="width: 10%">Name of Supplier</th>
                            <th style="width: 8%">Invoice No</th>
                            <th style="width: 9%">Value Amount</th>
                            <th style="width: 10%">Amount With Tax</th>
                            <th style="width: 6%">Tax 25%</th>
                            <th style="width: 8%">See Invoice</th>
                            <th style="width: 10%">Decline Invoice</th>
                            <th style="width: 6%">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>163</td>
                            <td>163</td>
                            <td>Lorem ipsum</td>
                            <td>167</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td class="text-center"><i class="fas fa-eye"></i></td>
                            <td class="text-center text-danger"><i class="fas fa-times"></i></td>
                            <td class="text-success">paid</td>
                        </tr>
                        <tr>
                            <td>163</td>
                            <td>163</td>
                            <td>Lorem ipsum</td>
                            <td>167</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td class="text-center">
                                <i class="fas fa-eye"></i>
                            </td>
                            <td class="text-center text-danger">
                                <i class="fas fa-times"></i>
                            </td>
                            <td class="text-danger">Unpaid</td>
                        </tr>
                        <tr>
                            <td>163</td>
                            <td>163</td>
                            <td>Lorem ipsum</td>
                            <td>167</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td class="text-center">
                                <i class="fas fa-eye"></i>
                            </td>
                            <td class="text-center text-danger">
                                <i class="fas fa-times"></i>
                            </td>
                            <td class="text-success">paid</td>
                        </tr>
                        <tr>
                            <td>163</td>
                            <td>163</td>
                            <td>Lorem ipsum</td>
                            <td>167</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td class="text-center">
                                <i class="fas fa-eye"></i>
                            </td>
                            <td class="text-center text-danger">
                                <i class="fas fa-times"></i>
                            </td>
                            <td class="text-success">paid</td>
                        </tr>
                        <tr>
                            <td>163</td>
                            <td>163</td>
                            <td>Lorem ipsum</td>
                            <td>167</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td class="text-center">
                                <i class="fas fa-eye"></i>
                            </td>
                            <td class="text-center text-danger">
                                <i class="fas fa-times"></i>
                            </td>
                            <td class="text-danger">Unpaid</td>
                        </tr>
                        <tr>
                            <td>163</td>
                            <td>163</td>
                            <td>Lorem ipsum</td>
                            <td>167</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td class="text-center">
                                <i class="fas fa-eye"></i>
                            </td>
                            <td class="text-center text-danger">
                                <i class="fas fa-times"></i>
                            </td>
                            <td class="text-success">paid</td>
                        </tr>
                        <tr>
                            <td>163</td>
                            <td>163</td>
                            <td>Lorem ipsum</td>
                            <td>167</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td>163 kr.</td>
                            <td class="text-center">
                                <i class="fas fa-eye"></i>
                            </td>
                            <td class="text-center text-danger">
                                <i class="fas fa-times"></i>
                            </td>
                            <td class="text-success">paid</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    
</div>