<nav class="navbar fixed-top navbar-expand-lg navbar-light px-5">
        <a class="navbar-brand" href="#!/dashboard">
            <img src="/assets/images/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <a id="button_left" ng-click="leftClick();"style="padding-top:10px;"><img src="/assets/images/Calc/left-arrow.png"></a>
            <div class='example-one'>
                   
                <header class='example-one-header scroll'>
                    
                  <nav class='vertical-align-middle'>
                    <span class='nav-itemtest'style="font-weight: 550;text-align: center">
                        <a><img src="/assets/images/calc_svg/equipment.svg" height="40"><br /><br /><b>EQUIPMENT</b></a>
                    </span>
                    <span class='nav-itemtest'style="font-weight: 550;text-align: center">
                        <a><img src="/assets/images/calc_svg/materials.svg" height="40"><br /><br /><b>MATERIALS</b></a>
                    </span>
                    <span class='nav-itemtest' style="font-weight: 550;text-align: center">
                        <a><img src="/assets/images/calc_svg/supplier.svg" height="40"><br /><br /><b> SUPPLIER</b></a>
                    </span>
                    <span class='nav-itemtest' style="font-weight: 550;text-align: center">
                        <a><img src="/assets/images/calc_svg/subcontractors.svg" height="40"><br /><br /><b>SUBCONTRACTORS</b></a>
                    </span>
                    <span class='nav-itemtest' style="font-weight: 550;text-align: center">
                        <a><img src="/assets/images/calc_svg/visualplan.svg" height="40"><br /><br /><b>VISUAL PLAN</b></a>
                    </span>
                    <span class='nav-itemtest'style="font-weight: 550;text-align: center">
                        <a><img src="/assets/images/calc_svg/keyfigures.svg" height="40"><br /><br /><b>KEY FIGURES</b></a>
                    </span>
                    <span class='nav-itemtest'style="font-weight: 550;text-align: center">
                        <a><img src="/assets/images/calc_svg/timeline.svg" height="40"><br /><br /><b>TIMELINE</b></a>
                    </span>
                    <span class='nav-itemtest'style="font-weight: 550;text-align: center">
                        <a><img src="/assets/images/calc_svg/offers.svg" height="40"><br /><br /><b>OFFERS</b></a>
                    </span>
                    <span class='nav-itemtest'style="font-weight: 550;text-align: center">
                        <a><img src="/assets/images/calc_svg/budget.svg" height="40"><br /><br /><b>BUDGET</b></a>
                    </span>
                    <span class='nav-itemtest'style="font-weight: 550;text-align: center">
                            <a><img src="/assets/images/calc_svg/profitrisk.svg"height="40"><br /><br /><b>PROFIT, RISK AND COST PLANNER</b></a>
                    </span>
                    
                  </nav>
                </header>
               
                
              </div>
              <a id="button_right"ng-click="rightClick();"style="padding-top:10px;"><img src="/assets/images/Calc/right-arrow.png"></a>
            <ul class="navbar-nav">
                <li class="nav-item ml-xl-3">
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mr-3">Harsh
                        </a>
                        <div class="dropdown-menu dropdown-menu-right box-shadow border-0 bg-success">
                            <a class="dropdown-item" href="profile.html">
                                <i class="far fa-user"></i> Edit Profile</a>
                            <button class="dropdown-item" type="button">
                                <i class="fas fa-sign-out-alt"></i> Logout</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>