<div id="dashboard-2" class="page-layout simple fullwidth">
    <div ng-include="'/partials/home_header.html'"></div>

    <div class="container-fluid px-5 mb-5">
        <div class="row">
            <div class="col-md-4 px-2">
                <div class="box-shadow-sm bg-primary rounded px-4 py-5 mb-3">
                    <div class="row align-items-center">
                        <div class="col-md-12 text-center">
                            <img src="/assets/images/dashboard/ve_icon.png" class="mb-4 w-icon">
                            <div class="form-inline justify-content-center">
                                <select class="custom-select bg-success text-white border-0 rounded-0 mb-2">
                                    <option selected>Choose A Plan</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 pr-2">
                        <a class="box-shadow-sm rounded bg-white text-center py-5 d-block" href="#">
                            <img src="/assets/images/dashboard/economic.png" class="mb-3 w-icon">
                            <h6 class="mb-0 text-uppercase">ECONOMIC</h6>
                        </a>
                    </div>
                    <div class="col-md-6 pl-2">
                        <a class="box-shadow-sm rounded bg-success py-5 h-100 d-flex align-items-center justify-content-center position-relative"
                            href="#!employees">
                            <h6 class="text-white mb-0 text-uppercase ls-1">EMPLOYEES</h6>
                            <div class="emp-g">
                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle p-1 position-absolute emp-g-1">
                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle p-2 position-absolute emp-g-2">
                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle position-absolute emp-g-3">
                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle position-absolute emp-g-4">
                                <div class="border-bottom position-absolute emp-b-1"></div>
                                <div class="border-bottom position-absolute emp-b-2"></div>
                                <div class="border-bottom position-absolute emp-b-3"></div>
                                <div class="border-bottom position-absolute emp-b-4"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="box-shadow-sm bg-white rounded px-4 mb-3 py-5">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h6 class="mb-4 d-flex align-items-center text-black">
                                <i class="far fa-list-alt float-left mr-1"></i>
                                <span>TODO's</span>
                            </h6>
                            <div class="scrollw-half pr-4">
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-danger text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-warning text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="#" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr class="mb-4">
                            </div>
                            <a href="#" class="mt-5 btn btn-outline-dark btn-sm">
                                <i class="fas fa-plus-circle text-success mr-1"></i> ADD NEW</a>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 row-eq-height">

                    <div class="col-md-6 pr-2">

                        <div class="box-shadow-sm rounded bg-primary text-center py-4 mb-3 d-block">
                            <div class="row px-0 mx-0">
                                <div class="col-md-6 px-0 border-right">
                                    <h6 class="mb-0 text-uppercase text-white mb-3">REPORTS</h6>
                                    <a href="#!report">
                                        <img src="/assets/images/dashboard/report.png" class="mb-3 w-icon">
                                    </a>
                                </div>
                                <div class="col-md-6 px-0">
                                    <h6 class="mb-0 text-uppercase text-white mb-3">ISSUES</h6>
                                    <a href="#!issues">
                                        <img src="/assets/images/dashboard/issues.png" class="mb-3 w-icon">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <a href="#" class="box-shadow-sm bg-mr d-block rounded px-4 py-4">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <h6 class="d-flex mb-0 align-items-center bg-primary text-white rounded p-1 px-3">
                                        <i class="far fa-comments float-left mr-1"></i>
                                        <span>MEETING ROOM</span>
                                    </h6>
                                    <hr>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 pl-2">
                        <div class="box-shadow-sm bg-white rounded px-4 py-4">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <h6 class="mb-4 d-flex align-items-center text-black">
                                        <i class="far fa-user-circle float-left mr-1"></i>
                                        <span>PERSONAL SETTINGS</span>
                                    </h6>
                                    <hr>

                                    <div class="d-md-flex justify-content-between align-items-center py-1">
                                        <span>SMS Notifications</span>
                                        <label class="switch switch-xs mb-0">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <hr>
                                    <div class="d-md-flex justify-content-between align-items-center py-1">
                                        <span>Email Notifications</span>
                                        <label class="switch switch-xs mb-0">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <hr>
                                    <div class="d-md-flex justify-content-between align-items-center py-1">
                                        <span>Language</span>
                                        <select class="custom-select form-control form-control-xs bg-warning text-white border-0 pr-3">
                                            <option>EN</option>
                                            <option>EN</option>
                                            <option>EN</option>
                                            <option>EN</option>
                                            <option>EN</option>
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="d-md-flex justify-content-between align-items-center py-1">
                                        <span>Currency</span>
                                        <select class="custom-select form-control form-control-xs bg-warning text-white border-0 pr-3">
                                            <option>$</option>
                                            <option>$</option>
                                            <option>$</option>
                                            <option>$</option>
                                            <option>$</option>
                                        </select>
                                    </div>

                                    <hr>
                                    <a href="#" class="mt-3 btn btn-outline-dark btn-sm">
                                        <i class="fas fa-plus-circle text-success float-left mr-1"></i> More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-2">

                <div class="row mb-3 align-items-center row-eq-height">
                    <div class="col-md-6 pr-2">
                        <a class="box-shadow-sm rounded bg-dark text-center py-4 d-block" href="#!calculation">
                            <img src="/assets/images/dashboard/calculation.png" class="mb-3 w-icon">
                            <h6 class="mb-0 text-uppercase text-white">CALCULATIONS</h6>
                        </a>
                    </div>
                    <div class="col-md-6 pl-2">
                        <a class="box-shadow-sm rounded bg-warning text-center py-4 d-block" ng-click="redirectTo3D();" href="JavaScript:Void(0);">
                            <img src="/assets/images/dashboard/3d.png" class="mb-3 w-icon">
                            <h6 class="mb-0 text-uppercase text-white">3D</h6>
                        </a>
                    </div>
                </div>

                <div class="box-shadow-sm bg-project rounded px-4 py-5 mb-3">
                    <i class="bookmark fa-star" ng-click="vm.checkBookmark(vm.project)" ng-show="vm.projectName != 'PROJECT'" ng-class="vm.projectName != 'PROJECT' ? 'fas' : 'far'"
                        style="font-size: 20px;"></i>
                    <div class="row align-items-center">
                        <div class="col-md-12 text-center">
                            <h4 class="text-black">{{vm.projectName}}</h4>
                            <div class="mb-2 row m-0">

                                <select class="form-control rounded-0 mx-auto col-8" ng-model="vm.project" ng-change="vm.selectedProject(vm.project)" ng-options="p.projectName for p in vm.bookmarkedProject">
                                    <option value="">Select Project</option>
                                </select>

                                <!-- <multiselect ng-model="vm.project" ng-change="vm.selectedProject(vm.project)" classes-btn="'btn btn-cyan col-12'" class=" mx-auto mb-1 col-8 p-0"
                                    placeholder="Choose a project" id-prop="_id" display-prop="projectName" options="vm.bookmarkedProject" show-search="true"
                                    search-limit="6" selection-limit="1">
                                </multiselect> -->
                            </div>
                            <div class="row m-0">
                                <button class="btn btn-warning text-white rounded-0 mx-auto col-8">CREATE NEW MODEL</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 pr-2">
                        <div class="box-shadow-sm rounded bg-white text-center py-4 mb-3 d-block">
                            <div class="row px-0 mx-0">
                                <div class="col-md-6 px-0 border-right">
                                    <h6 class="mb-0 text-uppercase mb-3">MATERIALS</h6>
                                    <a href="#!/materials">
                                        <img src="/assets/images/dashboard/material.png" class="mb-3 w-icon">
                                    </a>
                                </div>
                                <div class="col-md-6 px-0">
                                    <h6 class="mb-0 text-uppercase mb-3">EQUIPMENTS</h6>
                                    <a href="#!/equipments">
                                        <img src="/assets/images/dashboard/equipments.png" class="mb-3 w-icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="box-shadow-sm bg-warning text-white rounded px-3 py-3 mb-3">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <h6 class="d-flex align-items-center">
                                        <i class="fas fa-male float-left mr-1 text-white"></i>
                                        <span>CLIENTS</span>
                                    </h6>
                                    <div class="scrollw-half">
                                        <hr>
                                        <div class="d-md-flex justify-content-between py-0">
                                            <a href="#" class="d-flex align-items-center text-white">
                                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                                <span class="pl-2 d-block">
                                                    <b>Moshejohary</b>
                                                </span>
                                            </a>
                                        </div>
                                        <hr>
                                        <div class="d-md-flex justify-content-between py-0">
                                            <a href="#" class="d-flex align-items-center text-white">
                                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                                <span class="pl-2 d-block">
                                                    <b>Moshejohary</b>
                                                </span>
                                            </a>
                                        </div>
                                        <hr>
                                        <div class="d-md-flex justify-content-between py-0">
                                            <a href="#" class="d-flex align-items-center text-white">
                                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                                <span class="pl-2 d-block">
                                                    <b>Moshejohary</b>
                                                </span>
                                            </a>
                                        </div>
                                        <hr>
                                    </div>
                                    <a href="#!/clients" class="d-inline-block text-white my-2">SEE ALL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-2">
                        <div class="box-shadow-sm bg-white rounded p-0 mb-3 overflow-x-auto">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div id="datepicker"></div>
                                </div>
                            </div>

                        </div>
                        <a class="box-shadow-sm rounded bg-success p-4 d-block" href="#">
                            <h6 class="mb-3 text-uppercase text-white">WEATHER</h6>
                            <div class="d-flex justify-content-between align-items-center text-white">
                                <h2 class="display-6">34°</h2>
                                <img src="/assets/images/dashboard/cloudy.png" class="mb-3 w-icon">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="box-shadow-sm videos-bg rounded px-4 py-5 mb-3">
                    <h6 class="text-white my-4">MEDIA</h6>
                    <div class="row px-3 ">
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                    </div>
                    <a href="#" class="d-inline-block mt-4 text-white">SEE ALL</a>
                </div>
            </div>
            <div class="col-md-4 px-2">


                <div class="row mb-3">
                    <div class="col-md-12">
                        <a class="box-shadow-sm rounded text-center bg-success d-block p-5" href="#">
                            <h5 class="mb-0 text-uppercase pl-3 text-white font-weight-normal ls-1">Sales</h5>
                            <img src="/assets/images/dashboard/graph.png" class="align-self-end mt-3">
                        </a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="box-shadow-sm rounded text-center bg-primary px-5 py-4">
                            <div class="d-flex align-items-center">
                                <img src="/assets/images/dashboard/subscribe.png" class="align-self-end mt-3 h-100p">
                                <h6 class="mb-0 text-uppercase pl-3 text-white font-weight-normal ls-1">SUBSCRIBE TO NEWS LETTER</h6>
                            </div>
                            <div class="input-group mt-3">
                                <input type="text" class="form-control" placeholder="Enter you mail">
                                <div class="input-group-append">
                                    <button class="btn btn-warning pr-3" type="button">SUBMIT</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="box-shadow-sm bg-white rounded mb-3 overflow-hidden mb-3">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-md-6 p-0">
                                <h6 class="p-3 text-black d-flex align-items-center text-center">
                                    <i class="far fa-file-alt primary float-left mr-1"></i>
                                    <span>FILE MANAGER</span>
                                </h6>
                                <hr>
                                <a href="#" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/png.png" class="icon float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <a href="#" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/jpg.png" class="icon float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <a href="#" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/cdr.png" class="icon float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <a href="#" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/ai.png" class="icon float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <div class="text-center my-4">
                                    <a href="#!/file_manager">SHOW MORE</a>
                                </div>
                            </div>
                            <div class="col-md-6 text-center p-0">
                                <img src="/assets/images/dashboard/filemanager_Bg.png" class="fluid-img h-100">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-shadow-sm bg-white rounded mb-3 overflow-hidden">
                    <div>
                        <h6 class="p-4">TIMELINE
                            <a href="#" class="bg-green px-3 py-1 rounded-30 text-white">
                                <small>VIEW DETAILS</small>
                            </a>
                        </h6>
                        <div class="timeline overflow-hidden p-4 position-relative">
                            <div class="row border-bottom mx-0 py-1 position-static t-col">
                                <div class="col-4 border-left pl-0 position-static">
                                    <div class="bg-success text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-4 border-left pl-0 offset-2 position-static t-col">
                                    <div class="bg-warning text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-8 border-left pl-0 offset-4 position-static t-col">
                                    <div class="bg-danger text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-4 border-left pl-0 offset-6 position-static t-col">
                                    <div class="bg-primary text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-9 border-left pl-0 offset-8 position-static t-col">
                                    <div class="bg-dark text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row small m-0 mt-2">
                                <div class="col-md-2 pl-0">Today</div>
                                <div class="col-md-2 pl-0">5/10/18</div>
                                <div class="col-md-2 pl-0">6/10/18</div>
                                <div class="col-md-2 pl-0">7/10/18</div>
                                <div class="col-md-2 pl-0">8/10/18</div>
                                <div class="col-md-2 pl-0">9/10/18</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="chooseProject">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Choose project</h5>
                </div>
                <!-- Modal body -->
                <div class="modal-body" id="projectPickerContainer" style="max-height: 300px;overflow-y: scroll;">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Search</span>
                        </div>
                        <input type="text" class="form-control" ng-model="vm.projectSearch" ng-change="vm.searchProjects()" aria-label="Search" aria-describedby="basic-addon1">
                    </div>

                    <div infinite-scroll="vm.addMore()" infinite-scroll-disabled="!vm.enableLazyLoad" infinite-scroll-distance='0' infinite-scroll-container="'#projectPickerContainer'"
                        infinite-scroll-parent="true">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="projectPickerHeader">#</th>
                                    <th scope="col" class="projectPickerHeader" ng-click="vm.sort('projectName')">Project Name</th>
                                    <th scope="col" class="projectPickerHeader" ng-click="vm.sort('systemTag')">System Tag</th>
                                    <th scope="col" class="projectPickerHeader" ng-click="vm.sort('created')">Created Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in vm.projectPickerData" ng-click="vm.chooseProject(p)">
                                    <td>{{$index + 1}}</td>
                                    <td>{{p.projectName}}</td>
                                    <td>{{p.systemTag}}</td>
                                    <td>{{p.created | date:'mediumDate'}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="vm.closeProjectPicker()">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    $('#datepicker').datepicker({
        todayHighlight: true,
    });
</script>