<div class="sidebar animated fadeInLeft">
    <div class="mylogo">
        <a href="#">
            <img src="/assets/images/icon/cloudesLogo.svg" class="img-fluid center-block logo" alt="...">
        </a>
    </div>

    <ul class="left_menu_items">
        <li ng-class="activeClass('/economic')">
            <a href="#!economic">
                <img src="/assets/images/icon/dashboard.svg" class="img-fluid center-block" alt="...">
                <small>Dashboard</small>
            </a>
        </li>
        <li ng-class="activeClass('/createInvoice')">
            <a href="#!createInvoice">
                <img src="/assets/images/icon/createInvoice.svg" class="img-fluid center-block" alt="...">
                <small>Create Invoice</small>
            </a>
        </li>
        <li ng-class="activeClass('/createVariationsOrder')">
            <a href="#!createVariationsOrder">
                <img src="/assets/images/icon/createVariationsOrder.svg" class="img-fluid center-block" alt="...">
                <small>Create Variations Order</small>
            </a>
        </li>
        <li ng-class="activeClass('/invoiceList')">
            <a href="#!invoiceList">
                <img src="/assets/images/icon/createInvoice.svg" class="img-fluid center-block" alt="...">
                <small>Invoice List</small>
            </a>
        </li>
        <li ng-class="activeClass('/invoice')">
            <a href="#!invoice">
                <img src="/assets/images/icon/approveBill.svg" class="img-fluid center-block" alt="...">
                <small>Approve Bill</small>
            </a>
        </li>
        <li ng-class="activeClass('/supplierDetails')">
            <a href="#!supplierDetails">
                <img src="/assets/images/icon/variationsOrderList.svg" class="img-fluid center-block" alt="...">
                <small>Variations order List</small>
            </a>
        </li>
        <li ng-class="activeClass('/workingHours')">
            <a href="#!workingHours">
                <img src="/assets/images/icon/billingArchive.svg" class="img-fluid center-block" alt="...">
                <small>Billing Arc</small>
            </a>
        </li>
        <li ng-class="activeClass('/economicPayroll')">
            <a href="#!economicPayroll">
                <img src="/assets/images/icon/payroll.svg" class="img-fluid center-block" alt="...">
                <small>Payroll</small>
            </a>
        </li>
    </ul>
</div>