<link rel="stylesheet" href="/css/src/economicStyle.css" crossorigin="anonymous">

<div class="wrapper">
    <div ng-include="'/partials/economicSidemenu.html'"></div>
    <div class="wrapper_body pl-2">
        <div class="container-fluid pl-2">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 pad0">
                    <div class="left_side_sec">
                        <div class="sub_contractor">
                            <img src="/assets/images/layer1.png" class="img-fluid center-block" alt="...">
                            <h3>Sub contractor</h3>
                            <h6>Roofing</h6>

                            <h5>Activity</h5>
                        </div>
                        <div class="sub_contractor_bottom">
                            <div class="row">
                                <div class="col-md-6 col-xs-6 padright0">
                                    <div class="contractor_items">
                                        <h6>Issues</h6>
                                        <h2>25</h2>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6 padleft0">
                                    <div class="contractor_items">
                                        <h6>Solved</h6>
                                        <h2>10/25</h2>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6 padright0">
                                    <div class="contractor_items">
                                        <h6>Variation order</h6>
                                        <h2>14/5</h2>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6 padleft0">
                                    <div class="contractor_items">
                                        <h6>Workers on site</h6>
                                        <h2>10</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <div class="progressbar" data-animate="false">
                                        <div class="circle" data-percent="60">
                                            <div> </div>

                                        </div>
                                    </div>
                                    <a href="#" class="project_progress">Project progress</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 padleft0">
                    <header class="header">
                        <h2 class="top_title">Intervals
                            <br>
                            <small>Statistics for Roofing</small>
                        </h2>

                        <ul class="top_right_sec float-right">
                            <li>
                                <a href="#" class="add_working">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Add workings hrs. Week 41</a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Roofing
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li>
                                            <a href="#">items 1</a>
                                        </li>
                                        <li>
                                            <a href="#">items 2</a>
                                        </li>
                                        <li>
                                            <a href="#">items 3</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets/images/icon6.png" class="img-fluid center-block" alt="...">
                                </a>
                            </li>
                        </ul>
                    </header>

                    <div class="graph_sec">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="mychart">
                                    <div id="areaChart" style="height: 400px; width: 100%; margin: 50px auto;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="h_last_sec">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="item_details">
                                            <img src="/assets/images/icon7.png" class="img-responsive center-block" alt="...">
                                            <div class="clearfix space30"></div>
                                            <h3 class="btm_title">Contract detail</h3>

                                            <p>Contract amount
                                                <span>1.000.000 Dkk</span>
                                            </p>
                                            <p>Invoices status
                                                <span>500.000 Dkk</span>
                                            </p>
                                            <p></p>
                                            <p></p>

                                            <a href="#" class="see_list_btn">See contract</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="item_details">
                                            <img src="/assets/images/icon7.png" class="img-responsive center-block" alt="...">
                                            <div class="clearfix space30"></div>
                                            <h3 class="btm_title plus_icn">Variation order</h3>

                                            <p>Total sum
                                                <span>1.200.000 Dkk</span>
                                            </p>
                                            <p>Invoices status
                                                <span>250.000 Dkk</span>
                                            </p>
                                            <p>Approvel
                                                <span>3/18</span>
                                            </p>
                                            <p>Decline
                                                <span>1/18</span>
                                            </p>

                                            <a href="#" class="see_list_btn">See list</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="item_details">
                                    <img src="/assets/images/layer2.png" class="img-responsive center-block" alt="...">
                                    <div class="clearfix"></div>
                                    <h3 class="btm_title plus_icn">Equipment</h3>

                                    <p class="text-center">See all EQ in site</p>

                                    <a href="#" class="see_list_btn">See list</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/libs/circle-progress.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
    // Load the fonts
    Highcharts.createElement('link', {
        href: 'https://fonts.googleapis.com/css?family=Unica+One',
        rel: 'stylesheet',
        type: 'text/css'
    }, null, document.getElementsByTagName('head')[0]);

    Highcharts.theme = {
        colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
            "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
        chart: {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                stops: [
                    [0, '#ffffff'],
                    [1, '#ffffff']
                ]
            },
            style: {
                fontFamily: "'Unica One', sans-serif"
            },
            plotBorderColor: '#ffffff'
        },
        title: {
            style: {
                color: '#666',
                textTransform: 'uppercase',
                fontSize: '20px'
            }
        },
        subtitle: {
            style: {
                color: '#E0E0E3',
                textTransform: 'uppercase'
            }
        },
        xAxis: {
            gridLineColor: '#707073',
            labels: {
                style: {
                    color: '#E0E0E3'
                }
            },
            lineColor: '#707073',
            minorGridLineColor: 'none',
            tickColor: '#707073',
            title: {
                style: {
                    color: '#A0A0A3'

                }
            }
        },
        yAxis: {
            gridLineColor: 'none',
            labels: {
                style: {
                    color: '#E0E0E3'
                }
            },
            lineColor: '#707073',
            minorGridLineColor: '#505053',
            tickColor: '#707073',
            tickWidth: 0,
            title: {
                style: {
                    color: '#A0A0A3'
                }
            }
        },
        tooltip: {
            backgroundColor: 'rgba(0, 0, 0, 0.85)',
            style: {
                color: '#F0F0F0'
            }
        },
        plotOptions: {
            series: {
                dataLabels: {
                    color: '#B0B0B3'
                },
                marker: {
                    lineColor: '#333'
                }
            },
            boxplot: {
                fillColor: '#505053'
            },
            candlestick: {
                lineColor: 'white'
            },
            errorbar: {
                color: 'white'
            }
        },
        legend: {
            itemStyle: {
                color: '#E0E0E3'
            },
            itemHoverStyle: {
                color: '#FFF'
            },
            itemHiddenStyle: {
                color: '#606063'
            }
        },
        credits: {
            style: {
                color: '#666'
            }
        },
        labels: {
            style: {
                color: '#707073'
            }
        },

        drilldown: {
            activeAxisLabelStyle: {
                color: '#F0F0F3'
            },
            activeDataLabelStyle: {
                color: '#F0F0F3'
            }
        },

        navigation: {
            buttonOptions: {
                symbolStroke: '#DDDDDD',
                theme: {
                    fill: '#505053'
                }
            }
        },

        // scroll charts
        rangeSelector: {
            buttonTheme: {
                fill: '#505053',
                stroke: '#000000',
                style: {
                    color: '#CCC'
                },
                states: {
                    hover: {
                        fill: '#707073',
                        stroke: '#000000',
                        style: {
                            color: 'white'
                        }
                    },
                    select: {
                        fill: '#000003',
                        stroke: '#000000',
                        style: {
                            color: 'white'
                        }
                    }
                }
            },
            inputBoxBorderColor: '#505053',
            inputStyle: {
                backgroundColor: '#333',
                color: 'silver'
            },
            labelStyle: {
                color: 'silver'
            }
        },

        navigator: {
            handles: {
                backgroundColor: '#666',
                borderColor: '#AAA'
            },
            outlineColor: '#CCC',
            maskFill: 'rgba(255,255,255,0.1)',
            series: {
                color: '#7798BF',
                lineColor: '#A6C7ED'
            },
            xAxis: {
                gridLineColor: '#505053'
            }
        },

        scrollbar: {
            barBackgroundColor: '#808083',
            barBorderColor: '#808083',
            buttonArrowColor: '#CCC',
            buttonBackgroundColor: '#606063',
            buttonBorderColor: '#606063',
            rifleColor: '#FFF',
            trackBackgroundColor: '#404043',
            trackBorderColor: '#404043'
        },

        // special colors for some of the
        legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
        background2: '#505053',
        dataLabelsColor: '#B0B0B3',
        textColor: '#C0C0C0',
        contrastTextColor: '#F0F0F3',
        maskColor: 'rgba(255,255,255,0.3)'
    };

    // Apply the theme
    Highcharts.setOptions(Highcharts.theme);

    $(function () {
        function random_numbers() {
            for (var a = [], i = 0; i < 800; ++i) a[i] = i;
            var tmp, current, top = a.length;
            if (top) while (--top) {
                current = Math.floor(Math.random() * (top + 1));
                tmp = a[current];
                a[current] = a[top];
                a[top] = tmp;
            }
            return a;
        }

        Highcharts.setOptions({
            colors: ['#f47961', '#60be7b', '#4b5d69', '#9fdbea']
        });
        
        $('#areaChart').highcharts({
            chart: {
                type: 'areaspline',
                zoomType: 'x'
            },
            title: { text: null },
            legend: { enabled: false },
            xAxis: {
                type: 'datetime',
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                min: 0.5,
                max: 11,
                plotLines: [{
                    color: 'red',
                    dashStyle: 'solid',
                    value: '3',
                    width: '1'
                }]
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            tooltip: {
                shared: true
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                areaspline: {
                    fillOpacity: 0.8
                },
                series: {
                    marker: { enabled: false },
                    lineWidth: 0
                }
            },
            series: [{
                name: 'Failing',
                data: random_numbers()
            }, {
                name: 'Unknown',
                data: random_numbers()
            }]
        });
    });
</script>