<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous">
<div ng-include="'/partials/header.html'"></div>
<div id="employees" class="page-content pt-4 page-layout simple fullwidth">
<section class="container-fluid">
        <div class="container-fluid m-top-70 px-5">
                <div class="row"id="issuesList" ng-cloak>
                  <div class="col-md-12">
                      <form class="form-inline">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><span class="fas fa-search"></span></span>
                            </div>
                            <input type="email" class="form-control rounded-30" placeholder="Search employee">
                          </div>
                      </form>
                  </div>
                </div>
              </div>
       
            <div class="container-fluid px-5 mt-3">
      
                    <div class="row align-items-center box-shadow mx-0 py-5 rounded-top border-top border-5 border-success mb-4">
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <img src="/assets/images/user.jpg" class="pro-picEmpl rounded-circle mr-4">
                                <div class="ml-4">
                                    <h5 class="modal-title text-black mb-2">John Emmanuel, <small class="font-14">Lead Engineer</small></h5>
                                    <p class="mb-2">
                                        <i class="fas fa-map-marker-alt float-left pr-2 fa-sm"></i>
                                        8027 South 10th Street, Traverse City, MI 49684
                                    </p>
                                    <p class="mb-2">
                                        <i class="fas fa-envelope float-left pr-2 fa-sm"></i>
                                        lorem@ipsum.com
                                    </p>
                                    <p>
                                        <i class="fas fa-phone float-left pr-2 fa-sm"></i>
                                        90444 444 44
                                    </p>
                                    <a href="http://flamboyamedia.com/preview/cloudes/bootstrap/empl.html#" class="btn btn-primary">Create ID card</a>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div class="max-300">
                                <h5 class="text-black">Analytics</h5>
                                <ul class="list-unstyled mb-0 mt-3">
                                    <li class="mb-2">Lorem ipsum 
                                        <span class="w-100p float-right d-inline-block bg-light rounded-30">
                                            <span class="float-left bg-warning h-10p rounded-30" style="width: 80px;"></span>
                                        </span>
                                    </li>
                                    <li class="mb-2">Dolor sit amet
                                        <span class="w-100p float-right d-inline-block bg-light rounded-30">
                                            <span class="float-left bg-warning h-10p rounded-30" style="width: 40px;"></span>
                                        </span>
                                    </li>
                                    <li class="mb-2">Consectetur adipiscing
                                        <span class="w-100p float-right d-inline-block bg-light rounded-30">
                                            <span class="float-left bg-warning h-10p rounded-30" style="width: 50px;"></span>
                                        </span>
                                    </li>
                                    <li class="mb-2">Elit sed do
                                        <span class="w-100p float-right d-inline-block bg-light rounded-30">
                                            <span class="float-left bg-warning h-10p rounded-30" style="width: 89px;"></span>
                                        </span>
                                    </li>
                                    <li class="mb-2">Eiusmod tempor
                                        <span class="w-100p float-right d-inline-block bg-light rounded-30">
                                            <span class="float-left bg-warning h-10p rounded-30" style="width: 10px;"></span>
                                        </span>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tbody><tr>
                                    <td class="text-black">Salary</td>
                                    <td>Per Hour</td>
                                </tr>
                                <tr>
                                    <td class="text-black">Payday</td>
                                    <td>14 days</td>
                                </tr>
                                <tr>
                                    <td class="text-black">Pension</td>
                                    <td>4 % paid from salary + 8 % paid from companie </td>
                                </tr>
                                <tr>
                                    <td class="text-black">Holieday payment </td>
                                    <td>4%</td>
                                </tr>
                                <tr>
                                    <td class="text-black">Bonus</td>
                                    <td>12 kr/1 hrs. for task - Steel, membrane</td>
                                </tr>
                                <tr>
                                    <td class="text-black">Work´s hrs</td>
                                    <td>Monday to Friday / 6.00 to 19.00</td>
                                </tr>
                                <tr>
                                    <td class="text-black">Overtime</td>
                                    <td>After 7,4 hrs a day / 50% the first 3 hrs - after 100 %</td>
                                </tr>
                                <tr>
                                    <td class="text-black">Weekend work</td>
                                    <td>Saturday, first 3 hrs 50 %, after 100 %</td>
                                </tr>
                                <tr>
                                    <td class="text-black">Tracking on GPS</td>
                                    <td>Yes/No</td>
                                </tr>
                                <tr>
                                    <td class="text-black">Driving by car</td>
                                    <td>1 kr. for 1 km, only from home to meet on site</td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                            <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="http://flamboyamedia.com/preview/cloudes/bootstrap/empl.html#"><i class="fas fa-comment"></i></a>
                                                    <a href="http://flamboyamedia.com/preview/cloudes/bootstrap/empl.html#" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="http://flamboyamedia.com/preview/cloudes/bootstrap/empl.html#"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                                <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="#!employees"><i class="fas fa-comment"></i></a>
                                                    <a href="#!employees" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="#!employees"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                                <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="#!employees"><i class="fas fa-comment"></i></a>
                                                    <a href="#!employees" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="#!employees"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                                <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="#!employees"><i class="fas fa-comment"></i></a>
                                                    <a href="#!employees" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="#!employees"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                                <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="#!employees"><i class="fas fa-comment"></i></a>
                                                    <a href="#!employees" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="#!employees"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                                <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="#!employees"><i class="fas fa-comment"></i></a>
                                                    <a href="#!employees" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="#!employees"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                                <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="#!employees"><i class="fas fa-comment"></i></a>
                                                    <a href="#!employees" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="#!employees"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                                <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="#!employees"><i class="fas fa-comment"></i></a>
                                                    <a href="#!employees" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="#!employees"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                                <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="#!employees"><i class="fas fa-comment"></i></a>
                                                    <a href="#!employees" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="#!employees"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                                <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="#!employees"><i class="fas fa-comment"></i></a>
                                                    <a href="#!employees" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="#!employees"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                                <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="#!employees"><i class="fas fa-comment"></i></a>
                                                    <a href="#!employees" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="#!employees"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="box-shadow py-4 rounded">
                                <div class="row px-4">
                                    <div class="col-md-12">
                                        <div class="d-flex align-items-center">
                                                <img src="/assets/images/user.jpg" class="img-thumb rounded-circle">
                                            <div class="mb-0 pl-3 text-black">
                                                <p class="mb-1"><b>John Emmanuel</b><br>
                                                <small>Lead Engineer</small></p>
                                                    GMT 08:00
                                                <br>
                                                <div class="text-center pt-1">
                                                    <button class="btn btn-success py-1 mr-3 float-left" data-toggle="modal" data-target="#emp-detail">See Details</button>
                                                    <span class="pt-2 d-inline-block float-left">
                                                    <a href="#!employees"><i class="fas fa-comment"></i></a>
                                                    <a href="#!employees" class="mx-3"><i class="fas fa-phone"></i></a>
                                                    <a href="#!employees"><i class="fas fa-envelope"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
            
            
                    <nav class="mt-3 mb-5">
                      <ul class="pagination">
                        <li class="page-item">
                          <a class="page-link" href="http://flamboyamedia.com/preview/cloudes/bootstrap/empl.html#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#!employees">1</a></li>
                        <li class="page-item"><a class="page-link" href="#!employees">2</a></li>
                        <li class="page-item"><a class="page-link" href="#!employees">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#!employees" aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
            
                </div>
     </section>
    </div> 
      