<nav class="navbar fixed-top navbar-expand-lg navbar-light px-5">
    <a class="navbar-brand" href="#!/dashboard">
        <img src="/assets/images/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="payrollMenu nav-item ml-xl-3"><a href="" class="btn btn-warning rounded-30 text-white mr-2 mt-2"><i class="fas fa-file-invoice"></i> Invoice</a></li>
            <li class="payrollMenu nav-item ml-xl-3"><a href="#!/billing_archive" class="btn btn-warning rounded-30 text-white mr-2 mt-2"><i class="fas fa-file-invoice-dollar"></i> Billing Archive</a></li>
            <li class="payrollMenu nav-item ml-xl-3"><a href="" class="btn btn-warning rounded-30 text-white mr-2 mt-2"><i class="fas fa-money-bill"></i> Billing</a></li>
            <li class="payrollMenu nav-item ml-xl-3"><a href="" class="btn btn-warning rounded-30 text-white mr-2 mt-2"><i class="fas fa-clipboard-list"></i> Pay roll</a></li>
            <li class="nav-item ml-xl-3">
                <div class="btn-group">
                    <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mr-3">Harsh
                    </a>
                    <div class="dropdown-menu dropdown-menu-right box-shadow border-0 bg-success">
                        <a class="dropdown-item" href="profile.html">
                            <i class="far fa-user"></i> Edit Profile</a>
                        <button class="dropdown-item" type="button">
                            <i class="fas fa-sign-out-alt"></i> Logout</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>