<link rel="stylesheet" href="/css/src/economicStyle.css" crossorigin="anonymous">

<div class="wrapper">
    <div ng-include="'/partials/economicSidemenu.html'"></div>
    <div class="wrapper_body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padleft0">
                    <div class="invoice_sec1">
                        <div class="my_items_div">
                            <div class="items_header">
                                <form class="">
                                    <ul class="">
                                        <li>
                                            <div class="form-group">
                                                <label for="exampleInputName2">Type</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group">
                                                <label for="exampleInputName2">Bill Date</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group">
                                                <label for="exampleInputName2">Due Date</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group">
                                                <label for="exampleInputName2">Invoce Number</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group">
                                                <label for="exampleInputName2">Reference Case Numbe</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="appr_decline">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Approve</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-times-circle-o" aria-hidden="true"></i> Decline</a>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            <div class="items_body">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                        <ul class="left_list_img">
                                            <li>
                                                <img src="/assets/images/layer6.png" class="img-responsive center-block" alt="...">
                                            </li>
                                            <li>
                                                <img src="/assets/images/layer7.png" class="img-responsive center-block" alt="...">
                                            </li>
                                            <li>
                                                <img src="/assets/images/layer7.png" class="img-responsive center-block" alt="...">
                                            </li>
                                            <li>
                                                <img src="/assets/images/layer7.png" class="img-responsive center-block" alt="...">
                                            </li>
                                            <li>
                                                <img src="/assets/images/layer7.png" class="img-responsive center-block" alt="...">
                                            </li>
                                            <li>
                                                <img src="/assets/images/layer7.png" class="img-responsive center-block" alt="...">
                                            </li>
                                            <li>
                                                <img src="/assets/images/layer7.png" class="img-responsive center-block" alt="...">
                                            </li>
                                            <li>
                                                <img src="/assets/images/layer7.png" class="img-responsive center-block" alt="...">
                                            </li>
                                            <li>
                                                <img src="/assets/images/layer7.png" class="img-responsive center-block" alt="...">
                                            </li>
                                            <li>
                                                <img src="/assets/images/layer7.png" class="img-responsive center-block" alt="...">
                                            </li>
                                            <li>
                                                <img src="/assets/images/layer7.png" class="img-responsive center-block" alt="...">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                                        <div class="invoice_details">
                                            <div class="top_inv">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12 col-xs-12 space15">
                                                        <h1>INVOICE</h1>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 col-xs-12 space15">
                                                        <p class="address_txt">647-444-1234</p>
                                                        <p class="address_txt">your@email.com</p>
                                                        <p class="address_txt">yourwebsite.com</p>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 col-xs-12 space15">
                                                        <p class="address_txt">1 Your address
                                                            <br> City, State, Country,
                                                            <br> Zip Code</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="invoice_body">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <h6>Billed To</h6>
                                                        <p class="txt22">Client Name
                                                            <br> 1 client address
                                                            <br> City, State, Country,
                                                            <br> Zip Code</p>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <h6>Invoice Number</h6>
                                                        <p class="txt22">000000</p>
                                                        <div class="space15"></div>
                                                        <h6>date of Issue</h6>
                                                        <p class="txt22">10/07/14</p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12 text-right">
                                                        <div class="space15"></div>
                                                        <h6>Invoice total</h6>
                                                        <h3>$4520.00</h3>
                                                    </div>
                                                </div>

                                                <div class="row space30">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive invoicetbl">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Discription</th>
                                                                        <th>Unit Cost</th>
                                                                        <th>Qyt / Hrs Rate</th>
                                                                        <th>Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Your item Name
                                                                            <br>
                                                                            <small>Item Discription goes here</small>
                                                                        </td>
                                                                        <td>$1000</td>
                                                                        <td>1</td>
                                                                        <td>1000</td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
