<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous">
<div ng-include="'/partials/header.html'"></div>
<div id="payroll" class="page-content pt-4 page-layout simple fullwidth">
    <section class="container-fluid">
        <div class="row" id="payrollList">
            <div class="col-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fas fa-search"></span>
                        </span>
                    </div>
                    <input type="search" class="form-control rounded-30 searchTable" placeholder="Search product" aria-controls="DataTables_Table_0">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
                <table class="table table-bordered payrollList">
                    <thead class="bg-success text-white"> 
                        <tr>
                            <th style="width: 25%">Name</th>
                            <th style="width: 15%">Start Working</th>
                            <th style="width: 15%">End Working</th>
                            <th style="width: 10%">Breaks</th>
                            <th style="width: 10%">Tasks</th>
                            <th style="width: 15%">Driving in Km.</th>
                            <th style="width: 10%">Over Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem ipsum</td>
                            <td>01-01-18, Mon | 10:00am</td>
                            <td>07-01-18, Mon | 04:00pm</td>
                            <td>1</td>
                            <td>Lorem ipsum</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum</td>
                            <td>01-01-18, Mon | 10:00am</td>
                            <td>07-01-18, Mon | 04:00pm</td>
                            <td>1</td>
                            <td>Lorem ipsum</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum</td>
                            <td>01-01-18, Mon | 10:00am</td>
                            <td>07-01-18, Mon | 04:00pm</td>
                            <td>1</td>
                            <td>Lorem ipsum</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum</td>
                            <td>01-01-18, Mon | 10:00am</td>
                            <td>07-01-18, Mon | 04:00pm</td>
                            <td>1</td>
                            <td>Lorem ipsum</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    
</div>