<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous">
<div id="dashboard-2" class="page-layout simple fullwidth">
    <div ng-include="'/partials/home_header.html'"></div>
    <div class="container-fluid px-5 mb-5">
        <div class="row">
            <div class="col-md-4 px-2">
                <div class="box-shadow-sm bg-primary rounded px-4 py-5 mb-3">
                    <div class="row align-items-center">
                        <div class="col-md-12 text-center">
                            <img src="/assets/images/dashboard/ve_icon.png" class="mb-4 w-icon">
                            <div class="form-inline justify-content-center">
                                <button class="btn btn-cyan px-4 py-2" data-toggle="modal" data-target="#loginModal">Choose a Plan</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 pr-2">
                        <a class="box-shadow-sm rounded bg-white text-center py-5 d-block" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                            <img src="/assets/images/dashboard/economic.png" class="mb-3 w-icon">
                            <h6 class="mb-0 text-uppercase">ECONOMIC</h6>
                        </a>
                    </div>
                    <div class="col-md-6 pl-2">
                        <a class="box-shadow-sm rounded bg-success py-5 h-100 d-flex align-items-center justify-content-center position-relative"
                            href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                            <h6 class="text-white mb-0 text-uppercase ls-1">EMPLOYEES</h6>
                            <div class="emp-g">
                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle p-1 position-absolute emp-g-1">
                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle p-2 position-absolute emp-g-2">
                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle position-absolute emp-g-3">
                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle position-absolute emp-g-4">
                                <div class="border-bottom position-absolute emp-b-1"></div>
                                <div class="border-bottom position-absolute emp-b-2"></div>
                                <div class="border-bottom position-absolute emp-b-3"></div>
                                <div class="border-bottom position-absolute emp-b-4"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="box-shadow-sm bg-white rounded px-4 mb-3 py-5">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h6 class="mb-4 d-flex align-items-center text-black">
                                <i class="far fa-list-alt float-left mr-1"></i>
                                <span>TODO's</span>
                            </h6>
                            <div class="scrollw-half pr-4">
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-danger text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-warning text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr>
                                <div class="d-md-flex justify-content-between align-items-center py-1">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="py-1 d-block">
                                        <i class="fas fa-check rounded-circle bg-grey text-white fa-sm mr-2"></i> Robert added new post Combination UI Kit
                                    </a>
                                    <span>1h</span>
                                </div>
                                <hr class="mb-4">
                            </div>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="mt-5 btn btn-outline-dark btn-sm">
                                <i class="fas fa-plus-circle text-success mr-1"></i> ADD NEW</a>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 row-eq-height">

                    <div class="col-md-6 pr-2">

                        <div class="box-shadow-sm rounded bg-primary text-center py-4 mb-3 d-block">
                            <div class="row px-0 mx-0">
                                <div class="col-md-6 px-0 border-right">
                                    <h6 class="mb-0 text-uppercase text-white mb-3">REPORTS</h6>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                                        <img src="/assets/images/dashboard/report.png" class="mb-3 w-icon">
                                    </a>
                                </div>
                                <div class="col-md-6 px-0">
                                    <h6 class="mb-0 text-uppercase text-white mb-3">ISSUES</h6>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                                        <img src="/assets/images/dashboard/issues.png" class="mb-3 w-icon">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="box-shadow-sm bg-mr d-block rounded px-4 py-4">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <h6 class="d-flex mb-0 align-items-center bg-primary text-white rounded p-1 px-3">
                                        <i class="far fa-comments float-left mr-1"></i>
                                        <span>MEETING ROOM</span>
                                    </h6>
                                    <hr>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 pl-2">
                        <div class="box-shadow-sm bg-white rounded px-4 py-4">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <h6 class="mb-4 d-flex align-items-center text-black">
                                        <i class="far fa-user-circle float-left mr-1"></i>
                                        <span>PERSONAL SETTINGS</span>
                                    </h6>
                                    <hr>

                                    <div class="d-md-flex justify-content-between align-items-center py-1">
                                        <span>SMS Notifications</span>
                                        <label class="switch switch-xs mb-0">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <hr>
                                    <div class="d-md-flex justify-content-between align-items-center py-1">
                                        <span>Email Notifications</span>
                                        <label class="switch switch-xs mb-0">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <hr>
                                    <div class="d-md-flex justify-content-between align-items-center py-1">
                                        <span>Language</span>
                                        <select class="custom-select form-control form-control-xs bg-warning text-white border-0 pr-3">
                                            <option>EN</option>
                                            <option>EN</option>
                                            <option>EN</option>
                                            <option>EN</option>
                                            <option>EN</option>
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="d-md-flex justify-content-between align-items-center py-1">
                                        <span>Currency</span>
                                        <select class="custom-select form-control form-control-xs bg-warning text-white border-0 pr-3">
                                            <option>$</option>
                                            <option>$</option>
                                            <option>$</option>
                                            <option>$</option>
                                            <option>$</option>
                                        </select>
                                    </div>

                                    <hr>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="mt-3 btn btn-outline-dark btn-sm">
                                        <i class="fas fa-plus-circle text-success float-left mr-1"></i> More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-2">

                <div class="row mb-3 align-items-center row-eq-height">
                    <div class="col-md-6 pr-2">
                        <a class="box-shadow-sm rounded bg-dark text-center py-4 d-block" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                            <img src="/assets/images/dashboard/calculation.png" class="mb-3 w-icon">
                            <h6 class="mb-0 text-uppercase text-white">CALCULATIONS</h6>
                        </a>
                    </div>
                    <div class="col-md-6 pl-2">
                        <a class="box-shadow-sm rounded bg-warning text-center py-4 d-block" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                            <img src="/assets/images/dashboard/3d.png" class="mb-3 w-icon">
                            <h6 class="mb-0 text-uppercase text-white">3D</h6>
                        </a>
                    </div>
                </div>

                <div class="box-shadow-sm bg-project rounded px-4 py-5 mb-3">
                    <div class="row align-items-center">
                        <div class="col-md-12 text-center">
                            <h4 class="text-black">PROJECTS</h4>
                            <div class="mb-2 row m-0">
                                <button class="btn btn-cyan rounded-0 mx-auto col-8" data-toggle="modal" data-target="#loginModal">Choose a Project</button>
                            </div>
                            <div class="row m-0">
                                <button class="btn btn-warning text-white rounded-0 mx-auto col-8" data-toggle="modal" data-target="#loginModal">CREATE NEW MODEL</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 pr-2">
                        <div class="box-shadow-sm rounded bg-white text-center py-4 mb-3 d-block">
                            <div class="row px-0 mx-0">
                                <div class="col-md-6 px-0 border-right">
                                    <h6 class="mb-0 text-uppercase mb-3">MATERIALS</h6>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                                        <img src="/assets/images/dashboard/material.png" class="mb-3 w-icon">
                                    </a>
                                </div>
                                <div class="col-md-6 px-0">
                                    <h6 class="mb-0 text-uppercase mb-3">EQUIPMENTS</h6>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                                        <img src="/assets/images/dashboard/equipments.png" class="mb-3 w-icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="box-shadow-sm bg-warning text-white rounded px-3 py-3 mb-3">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <h6 class="d-flex align-items-center">
                                        <i class="fas fa-male float-left mr-1 text-white"></i>
                                        <span>CLIENTS</span>
                                    </h6>
                                    <div class="scrollw-half">
                                        <hr>
                                        <div class="d-md-flex justify-content-between py-0">
                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="d-flex align-items-center text-white">
                                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                                <span class="pl-2 d-block">
                                                    <b>Moshejohary</b>
                                                </span>
                                            </a>
                                        </div>
                                        <hr>
                                        <div class="d-md-flex justify-content-between py-0">
                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="d-flex align-items-center text-white">
                                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                                <span class="pl-2 d-block">
                                                    <b>Moshejohary</b>
                                                </span>
                                            </a>
                                        </div>
                                        <hr>
                                        <div class="d-md-flex justify-content-between py-0">
                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="d-flex align-items-center text-white">
                                                <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mb-1 float-left">
                                                <span class="pl-2 d-block">
                                                    <b>Moshejohary</b>
                                                </span>
                                            </a>
                                        </div>
                                        <hr>
                                    </div>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="d-inline-block text-white my-2">SEE ALL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-2">
                        <div class="box-shadow-sm bg-white rounded p-0 mb-3 overflow-x-auto">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div id="datepicker"></div>
                                </div>
                            </div>

                        </div>
                        <a class="box-shadow-sm rounded bg-success p-4 d-block" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                            <h6 class="mb-3 text-uppercase text-white">WEATHER</h6>
                            <div class="d-flex justify-content-between align-items-center text-white">
                                <h2 class="display-6">34°</h2>
                                <img src="/assets/images/dashboard/cloudy.png" class="mb-3 w-icon">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="box-shadow-sm videos-bg rounded px-4 py-5 mb-3">
                    <h6 class="text-white mb-4">MEDIA</h6>
                    <div class="row px-3 ">
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                        <div class="col-md-4 px-0">
                            <button type="button" class="btn btn-primary video-btn rounded-0 p-0" data-toggle="modal" data-src="https://www.youtube.com/watch?v=Yu_bx0zNPHI"
                                data-target="#videoModal">
                                <img src="https://img.youtube.com/vi/Yu_bx0zNPHI/1.jpg" class="w-100 fluid-img">
                            </button>
                        </div>
                    </div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="d-inline-block mt-4 text-white">SEE ALL</a>
                </div>
            </div>
            <div class="col-md-4 px-2">


                <div class="row mb-3">
                    <div class="col-md-12">
                        <a class="box-shadow-sm rounded text-center bg-success d-block p-5" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                            <h5 class="mb-0 text-uppercase pl-3 text-white font-weight-normal ls-1">Sales</h5>
                            <img src="/assets/images/dashboard/graph.png" class="align-self-end mt-3">
                        </a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="box-shadow-sm rounded text-center bg-primary px-5 py-4">
                            <div class="d-flex align-items-center">
                                <img src="/assets/images/dashboard/subscribe.png" class="align-self-end mt-3 h-100p">
                                <h6 class="mb-0 text-uppercase pl-3 text-white font-weight-normal ls-1">SUBSCRIBE TO NEWS LETTER</h6>
                            </div>
                            <div class="input-group mt-3">
                                <input type="text" class="form-control" placeholder="Enter you mail">
                                <div class="input-group-append">
                                    <button class="btn btn-warning pr-3" type="button">SUBMIT</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="box-shadow-sm bg-white rounded mb-3 overflow-hidden mb-3">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-md-6 p-0">
                                <h6 class="p-3 text-black d-flex align-items-center text-center">
                                    <i class="far fa-file-alt primary float-left mr-1"></i>
                                    <span>FILE MANAGER</span>
                                </h6>
                                <hr>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/png.png" class="icon float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/jpg.png" class="icon float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/cdr.png" class="icon float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="p-2 px-3 d-block lh-2">
                                    <img src="/assets/images/file_icon/ai.png" class="icon float-left mr-2" />Meet Craftwork.pdf
                                </a>
                                <hr>
                                <div class="text-center my-4">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">SHOW MORE</a>
                                </div>
                            </div>
                            <div class="col-md-6 text-center p-0">
                                <img src="/assets/images/dashboard/filemanager_Bg.png" class="fluid-img h-100">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-shadow-sm bg-white rounded mb-3 overflow-hidden">
                    <div>
                        <h6 class="p-4">TIMELINE
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="bg-green px-3 py-1 rounded-30 text-white">
                                <small>VIEW DETAILS</small>
                            </a>
                        </h6>
                        <div class="timeline overflow-hidden p-4 position-relative">
                            <div class="row border-bottom mx-0 py-1 position-static t-col">
                                <div class="col-4 border-left pl-0 position-static">
                                    <div class="bg-success text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-4 border-left pl-0 offset-2 position-static t-col">
                                    <div class="bg-warning text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-8 border-left pl-0 offset-4 position-static t-col">
                                    <div class="bg-danger text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-4 border-left pl-0 offset-6 position-static t-col">
                                    <div class="bg-primary text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row border-bottom mx-0 py-1 position-static">
                                <div class="col-9 border-left pl-0 offset-8 position-static t-col">
                                    <div class="bg-dark text-white px-2 rounded-right">Task name</div>
                                </div>
                            </div>
                            <div class="row small m-0 mt-2">
                                <div class="col-md-2 pl-0">Today</div>
                                <div class="col-md-2 pl-0">5/10/18</div>
                                <div class="col-md-2 pl-0">6/10/18</div>
                                <div class="col-md-2 pl-0">7/10/18</div>
                                <div class="col-md-2 pl-0">8/10/18</div>
                                <div class="col-md-2 pl-0">9/10/18</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-content-one">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <section class="row justify-content-md-center">
                    <div class="col-md-auto col-md-4 p-4">
                        <div class="loginForm p-3 m-3">
                            <p class="m-0 loginIcon text-center">
                                <span>
                                    <i class="far fa-user-circle"></i>
                                </span>
                            </p>
                            <h5 class="text-center text-uppercase">Login</h5>
                            <form name="loginForm" class="mt-4" novalidate>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="loginEmail" name="email" ng-model="vm.loginData.email" placeholder="Enter your email id"
                                        required />
                                    <p class="red has-error" ng-show="loginForm.email.$touched">
                                        <span ng-show="loginForm.email.$error.required">Email is required.</span>
                                        <span ng-show="loginForm.email.$error.email">Invalid email address.</span>
                                    </p>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" name="password" ng-model="vm.loginData.password" placeholder="Password"
                                        required />
                                    <p class="red has-error" ng-show="loginForm.password.$touched">
                                        <span ng-show="loginForm.password.$error.required">Password is required.</span>
                                    </p>
                                </div>
                                <button type="button" class="btn btn-default btn-block" ng-click="vm.login(loginForm.$valid, vm.loginData)">LOGIN</button>
                                <div class="row m-0 pl-2 my-3 loginFormFooter">
                                    <div class="col">
                                        <input type="checkbox" class="form-check-input" id="rememberme" name="rememberme" ng-model="vm.loginData.rememberme">
                                        <label class="form-check-label" for="rememberme">Remember me</label>
                                    </div>
                                    <div class="col text-right p-0">
                                        <a ng-click="vm.forgotPassModal()" class="forgotPass">Forgot your password </a>
                                    </div>
                                </div>
                            </form>
                            <hr class="small white">
                            <h4 class="text-center register text-uppercase" ng-click="vm.regsiterModal()">Register</h4>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-content-one">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <section class="row justify-content-md-center">
                    <div class="col-md-auto col-md-4 p-4">
                        <div class="loginForm p-3 m-3">
                            <p class="m-0 loginIcon text-center">
                                <span>
                                    <i class="far fa-user-circle"></i>
                                </span>
                            </p>
                            <h5 class="text-center text-uppercase">Register</h5>
                            <form name="registerForm" class="mt-4" novalidate>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="companyName" name="companyName" ng-model="vm.registerData.companyName" placeholder="Company Name"
                                        required />
                                    <p class="red has-error" ng-show="registerForm.companyName.$touched">
                                        <span ng-show="registerForm.companyName.$error.required">Company name is required.</span>
                                    </p>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" ng-model="vm.registerData.name" placeholder="Name" required
                                    />
                                    <p class="red has-error" ng-show="registerForm.name.$touched">
                                        <span ng-show="registerForm.name.$error.required">Name is required.</span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="registerEmail" name="email" ng-model="vm.registerData.email" placeholder="Email id"
                                        required />
                                    <p class="red has-error" ng-show="registerForm.email.$touched">
                                        <span ng-show="registerForm.email.$error.required">Email is required.</span>
                                        <span ng-show="registerForm.email.$error.email">Invalid email address.</span>
                                    </p>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="dialCode" name="dialCode" ng-model="vm.registerData.dialCode" placeholder="Dial Code"
                                        required />
                                    <p class="red has-error" ng-show="registerForm.dialCode.$touched">
                                        <span ng-show="registerForm.dialCode.$error.required">Dial Code is required</span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" ng-model="vm.registerData.phoneNumber" placeholder="Phone Number"
                                        required />
                                    <p class="red has-error" ng-show="registerForm.phoneNumber.$touched">
                                        <span ng-show="registerForm.phoneNumber.$error.required">Phone Number is required.</span>
                                        <span ng-show="registerForm.phoneNumber.$error.number">Invalid phone number.</span>
                                    </p>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control" id="description" name="description" ng-model="vm.registerData.description" placeholder="Description"
                                        required></textarea>
                                    <p class="red has-error" ng-show="registerForm.description.$touched">
                                        <span ng-show="registerForm.description.$error.required">Description is required.</span>
                                    </p>
                                </div>
                                <h5 class="text-center mt-4 mb-3">Primary Address</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="addressLine1" name="addressLine1" ng-model="vm.registerData.addressLine1" placeholder="Address Line 1"
                                        required />
                                    <p class="red has-error" ng-show="registerForm.email.$touched">
                                        <span ng-show="registerForm.addressLine1.$error.required">Address Line 1 is required.</span>
                                    </p>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="addressLine2" name="addressLine2" ng-model="vm.registerData.addressLine2" placeholder="Address Line 2"
                                        required />
                                    <p class="red has-error" ng-show="registerForm.addressLine2.$touched">
                                        <span ng-show="registerForm.addressLine2.$error.required">Address Line 2 is required.</span>
                                    </p>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="city" name="city" ng-model="vm.registerData.city" placeholder="City" required
                                    />
                                    <p class="red has-error" ng-show="registerForm.city.$touched">
                                        <span ng-show="registerForm.city.$error.required">City is required.</span>
                                    </p>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="postalCode" name="postalCode" ng-model="vm.registerData.postalCode" placeholder="Postal Code"
                                        required>
                                    <input type="text" class="form-control" id="countryCode" name="countryCode" ng-model="vm.registerData.countryCode" placeholder="Country Code"
                                        required>
                                </div>
                                <p class="red has-error mb-0" ng-show="registerForm.postalCode.$touched">
                                    <span ng-show="registerForm.postalCode.$error.required">Postal Code is required.</span>
                                </p>
                                <p class="red has-error" ng-show="registerForm.countryCode.$touched">
                                    <span ng-show="registerForm.countryCode.$error.required">Country Code is required.</span>
                                </p>
                                <button type="button" class="btn btn-default btn-block mt-3" ng-click="vm.register(registerForm.$valid, vm.registerData)">Register</button>

                            </form>
                            <hr class="small white">
                            <h4 class="text-center login" ng-click="vm.loginModal()">Login</h4>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="forgotPassModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-content-one">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <section class="row justify-content-md-center">
                    <div class="col-md-auto col-md-4 p-4">
                        <div class="loginForm p-3 m-3">
                            <p class="m-0 loginIcon text-center">
                                <span>
                                    <i class="far fa-user-circle"></i>
                                </span>
                            </p>
                            <h5 class="text-center text-uppercase">Forgot Password</h5>
                            <form name="forgotPassForm" class="mt-4" novalidate>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="forgotPassEmail" name="email" ng-model="vm.forgotPassData.email" placeholder="Enter your email id"
                                        required />
                                    <p class="red has-error" ng-show="forgotPassForm.email.$touched">
                                        <span ng-show="forgotPassForm.email.$error.required">Email is required.</span>
                                        <span ng-show="forgotPassForm.email.$error.email">Invalid email address.</span>
                                    </p>
                                </div>

                                <button type="button" class="btn btn-default btn-block" ng-click="vm.forgotPass(forgotPassForm.$valid, vm.forgotPassData)">Submit</button>
                                <div class="row m-0 pl-2 my-3 loginFormFooter">
                                    <div class="col text-center">
                                        <a ng-click="vm.loginModal()" class="login">I remember my password. Login </a>
                                    </div>
                                </div>
                            </form>
                            <hr class="small white">
                            <h4 class="text-center register text-uppercase" ng-click="vm.regsiterModal()">Register</h4>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>


<script>
    $('#datepicker').datepicker({
        todayHighlight: true
    });
</script>