<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous">
<div ng-include="'/partials/header.html'"></div>
<div id="payroll" class="page-content pt-4 page-layout simple fullwidth">
    <section class="container-fluid">
        <div class="row" id="payrollList">
            <div class="col-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fas fa-search"></span>
                        </span>
                    </div>
                    <input type="search" class="form-control rounded-30 searchTable" placeholder="Search product" aria-controls="DataTables_Table_0">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
                <table class="table table-bordered payrollList">
                    <thead class="bg-success text-white"> 
                        <tr>
                            <th style="width: 5%">Entreprise</th>
                            <th style="width: 5%">Type</th>
                            <th style="width: 10%">Report number</th>
                            <th style="width: 5%">Subject</th>
                            <th style="width: 10%">Responsible</th>
                            <th style="width: 10%">Creation Day</th>
                            <th style="width: 10%">Last Updated </th>
                            <th style="width: 5%">Deadline </th>
                            <th style="width: 10%">Registration on Map </th>
                            <th style="width: 10%">Levels </th>
                            <th style="width: 5%">Drawing </th>
                            <th style="width: 5%">Room </th>
                            <th style="width: 5%">Building</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name of the firm</td>
                            <td>Roof </td>
                            <td>8923-3432 </td>
                            <td>subject </td>
                            <td>responsible </td>
                            <td>3-12-2017 </td>
                            <td>30-05-2018 </td>
                            <td>21-07-2018 </td>
                            <td>Click to see </td>
                            <td>1 floor </td>
                            <td>Drawing </td>
                            <td>On site </td>
                            <td>Building</td>
                        </tr>
                        <tr>
                            <td>Name of the firm</td>
                            <td>Roof </td>
                            <td>8923-3432 </td>
                            <td>subject </td>
                            <td>responsible </td>
                            <td>3-12-2017 </td>
                            <td>30-05-2018 </td>
                            <td>21-07-2018 </td>
                            <td>Click to see </td>
                            <td>1 floor </td>
                            <td>Drawing </td>
                            <td>On site </td>
                            <td>Building</td>
                        </tr>
                        <tr>
                            <td>Name of the firm</td>
                            <td>Roof </td>
                            <td>8923-3432 </td>
                            <td>subject </td>
                            <td>responsible </td>
                            <td>3-12-2017 </td>
                            <td>30-05-2018 </td>
                            <td>21-07-2018 </td>
                            <td>Click to see </td>
                            <td>1 floor </td>
                            <td>Drawing </td>
                            <td>On site </td>
                            <td>Building</td>
                        </tr>
                        <tr>
                            <td>Name of the firm</td>
                            <td>Roof </td>
                            <td>8923-3432 </td>
                            <td>subject </td>
                            <td>responsible </td>
                            <td>3-12-2017 </td>
                            <td>30-05-2018 </td>
                            <td>21-07-2018 </td>
                            <td>Click to see </td>
                            <td>1 floor </td>
                            <td>Drawing </td>
                            <td>On site </td>
                            <td>Building</td>
                        </tr>
                        <tr>
                            <td>Name of the firm</td>
                            <td>Roof </td>
                            <td>8923-3432 </td>
                            <td>subject </td>
                            <td>responsible </td>
                            <td>3-12-2017 </td>
                            <td>30-05-2018 </td>
                            <td>21-07-2018 </td>
                            <td>Click to see </td>
                            <td>1 floor </td>
                            <td>Drawing </td>
                            <td>On site </td>
                            <td>Building</td>
                        </tr>
                        <tr>
                            <td>Name of the firm</td>
                            <td>Roof </td>
                            <td>8923-3432 </td>
                            <td>subject </td>
                            <td>responsible </td>
                            <td>3-12-2017 </td>
                            <td>30-05-2018 </td>
                            <td>21-07-2018 </td>
                            <td>Click to see </td>
                            <td>1 floor </td>
                            <td>Drawing </td>
                            <td>On site </td>
                            <td>Building</td>
                        </tr>
                        <tr>
                            <td>Name of the firm</td>
                            <td>Roof </td>
                            <td>8923-3432 </td>
                            <td>subject </td>
                            <td>responsible </td>
                            <td>3-12-2017 </td>
                            <td>30-05-2018 </td>
                            <td>21-07-2018 </td>
                            <td>Click to see </td>
                            <td>1 floor </td>
                            <td>Drawing </td>
                            <td>On site </td>
                            <td>Building</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    
</div>