<div class="modal fade forgotPassModal" id="forgotPassModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-content-one">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <section class="row justify-content-md-center">
                    <div class="col-md-auto col-md-4 p-4">
                        <div class="loginForm p-3 m-3">
                            <p class="m-0 loginIcon text-center">
                                <span>
                                    <i class="far fa-user-circle"></i>
                                </span>
                            </p>
                            <h5 class="text-center text-uppercase">Reset Password</h5>
                            <form name="resetPass" class="mt-4" novalidate>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" name="password" ng-model="vm.resetPass.password" placeholder="Enter New Password"
                                        required />
                                    <p class="red has-error" ng-show="resetPass.password.$touched">
                                        <span ng-show="resetPass.password.$error.required">Password is required.</span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="c_password" name="c_password" ng-model="vm.resetPass.c_password" placeholder="Enter Confirm Password"
                                        required />
                                    <p class="red has-error" ng-show="resetPass.c_password.$touched">
                                        <span ng-show="resetPass.c_password.$error.required">Confirm password is required.</span>
                                    </p>
                                </div>

                                <button type="button" class="btn btn-default btn-block" ng-click="vm.resetPass(resetPass.$valid, vm.resetPassData)">Submit</button>
                            </form>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<div class="modal fade tokenInvalid" id="forgotPassModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-content-one">
            <div class="modal-body">
                <section class="row justify-content-md-center">
                    <div class="col-md-auto col-md-4 p-4">
                        <div class="loginForm p-3 m-3">
                            <p class="m-0 loginIcon text-center">
                                <span>
                                    <i class="far fa-user-circle"></i>
                                </span>
                            </p>
                            <h5 class="text-center text-uppercase">Token Invalid</h5>
                            <!-- <button type="button" class="btn btn-default btn-block mt-5" ng-click="vm.back()">Go back</button> -->
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>