<link rel="stylesheet" href="/css/src/economicStyle.css" crossorigin="anonymous">

<div class="wrapper">
    <div ng-include="'/partials/economicSidemenu.html'"></div>

    <div class="wrapper_body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padleft0">
                    <header class="header">
                        <h2 class="top_title">Intervals
                            <br>
                            <small>Statistics for Roofing</small>
                        </h2>

                        <ul class="top_right_sec float-right">
                            <li>
                                <a href="#" class="add_working">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Add workings hrs. Week 41</a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Roofing
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                        <li>
                                            <a href="#">items 1</a>
                                        </li>
                                        <li>
                                            <a href="#">items 2</a>
                                        </li>
                                        <li>
                                            <a href="#">items 3</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets/images/icon6.png" class="img-fluid center-block" alt="...">
                                </a>
                            </li>
                        </ul>
                    </header>

                    <div class="add_items_sec1">
                        <div class="my_items_div">
                            <div class="items_header">
                                <form class="">
                                    <ul class="">
                                        <li>
                                            <div class="form-group">
                                                <label for="exampleInputName2">To</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group">
                                                <label for="exampleInputName2">Date</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group">
                                                <label for="exampleInputName2">Due Date</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group">
                                                <label for="exampleInputName2">Invoce Number</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group">
                                                <label for="exampleInputName2">Reference</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            <div class="items_body">
                                <div class="row form-group">
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="control-group">
                                            <label class="control control--checkbox">Included invoice overviwe
                                                <input type="checkbox" checked="checked" />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-6">
                                        <div class="control-group">
                                            <label class="control control--checkbox">Automatic gennerate invoice for registrated proces
                                                <input type="checkbox" checked="checked" />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table mytbl1">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Item</th>
                                                <th>Description</th>
                                                <th>Quanity</th>
                                                <th>Unit Price</th>
                                                <th>Disc %</th>
                                                <th>Account</th>
                                                <th>Tax Rate</th>
                                                <th>Region</th>
                                                <th>Amount USD</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="rpt_row">
                                                <td>
                                                    <a href="#">
                                                        <img src="/assets/images/icon8.png" alt="...">
                                                    </a>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <a href="#">x</a>
                                                </td>
                                            </tr>
                                            <tr class="rpt_row">
                                                <td>
                                                    <a href="#">
                                                        <img src="/assets/images/icon8.png" alt="...">
                                                    </a>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <a href="#">x</a>
                                                </td>
                                            </tr>
                                            <tr class="rpt_row">
                                                <td>
                                                    <a href="#">
                                                        <img src="/assets/images/icon8.png" alt="...">
                                                    </a>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <a href="#">x</a>
                                                </td>
                                            </tr>
                                            <tr class="rpt_row">
                                                <td>
                                                    <a href="#">
                                                        <img src="/assets/images/icon8.png" alt="...">
                                                    </a>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <a href="#">x</a>
                                                </td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="add_row_td">
                                                    <a href="#" class="add_row_items">+</a>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Sub Tota</td>
                                                <td>0.00</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="bdr_bottom"></td>
                                                <td class="bdr_bottom">Vat</td>
                                                <td class="bdr_bottom">0.00</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="bdr_bottom"></td>
                                                <td class="bdr_bottom">Total</td>
                                                <td class="bdr_bottom">0.00</td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="items_footer">
                                <ul>
                                    <li>
                                        <div class="dropdown save_approve">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="true">
                                                <img src="/assets/images/icon9.png" class="icon_save_approve" alt="..."> Save
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li>
                                                    <a href="#">Action</a>
                                                </li>
                                                <li>
                                                    <a href="#">Another</a>
                                                </li>
                                                <li>
                                                    <a href="#">Something</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown save_approve">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="true">
                                                <img src="/assets/images/icon10.png" class="icon_save_approve" alt="..."> Approve
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li>
                                                    <a href="#">Action</a>
                                                </li>
                                                <li>
                                                    <a href="#">Another</a>
                                                </li>
                                                <li>
                                                    <a href="#">Something</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="cancel_btn">X Cancel</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="h_last_sec">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="item_details">
                                            <img src="/assets/images/icon7.png" class="img-responsive center-block" alt="...">
                                            <div class="clearfix space10"></div>
                                            <h3 class="btm_title">Contract detail</h3>

                                            <p>Contract amount
                                                <span>1.000.000 Dkk</span>
                                            </p>
                                            <p>Invoices status
                                                <span>500.000 Dkk</span>
                                            </p>
                                            <p></p>
                                            <p></p>

                                            <a href="#" class="see_list_btn">See contract</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="item_details">
                                            <img src="/assets/images/icon7.png" class="img-responsive center-block" alt="...">
                                            <div class="clearfix space10"></div>
                                            <h3 class="btm_title">Variation order</h3>

                                            <p>Total sum
                                                <span>1.200.000 Dkk</span>
                                            </p>
                                            <p>Invoices status
                                                <span>250.000 Dkk</span>
                                            </p>
                                            <p>Approvel
                                                <span>3/18</span>
                                            </p>
                                            <p>Decline
                                                <span>1/18</span>
                                            </p>

                                            <a href="#" class="see_list_btn">See list</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="carousel-wrap">
                                    <div class="owl-carousel">
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/layer3.png" class="img-responsive center-block" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>