<link rel="stylesheet" href="/css/src/economicStyle.css" crossorigin="anonymous">

<div class="wrapper">
<div ng-include="'/partials/economicSidemenu.html'"></div>

    <div class="wrapper_body working_hr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pad0">
                    <div class="working_hr_left">
                        <img src="/assets/images/layer5.png" class="img-responsove center-block" alt="...">
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12 padleft0">
                    <div class="working_hr_right">
                        <h1>Working hours</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>